/* General Styles */
body {
  font-family: Arial, sans-serif;
  background: url("assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #f5a623;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Header */
header {
  margin: 20px 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #ffa07a; /* Rosa palo para el título */
}

/* Game Container */
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-logo {
  display: block;
  margin: 20px auto;
  max-width: 150px;
  height: auto;
}

#question-container {
  background-color: #1c1c1c;
  border: 5px solid #f5a623;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centra icono y texto */
  justify-content: space-between; /* Espacia texto e icono */
}

button:hover {
  background-color: #0056b3;
}

/* Imágenes de estado */
.answer-icon {
  width: 20px;
  height: 20px;
  margin-left: 15px; /* Mayor separación del texto */
  vertical-align: middle;
  display: none;
}

/* Stats */
#stats {
  margin-top: 20px;
  color: #f5a623;
}

/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  font-size: 0.9rem;
  color: #ffa07a; /* Rosa palo para el footer */
}

footer a {
  color: #ffa07a;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
